@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
  background-color: #0a1014;
  margin: 0px;
	padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.collectionStyle{
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
  background-size:cover;
  background-color: #111111;
  background-blend-mode: multiply;
  backdrop-filter: blur(20px);
}

.mainImg-overlay{
  position: absolute;
  top: 0;
  width: 97%;
  height: 430px;
  background:rgba(0, 0, 0, 0.5)
}

.my-modal{
  background: #0a1014;
}

.navb{
  top: 0;
}

.wrup{
  width: 50%;
}

.cwriteup{
  font-size: 1.1rem;
}

.artistName{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ccimg{
  width: 25%;
}

.cimg{
  width: 100%;
}

.mainImg{
  width: 100%;
  height: 430px;
}

.topChart{
  width: 100%;
  height:100px ;
}

.slick-slide{
	padding: 0 15px;
}

.slick-list{
	margin: 0 -10px;
}

.bg-c{
  backdrop-filter: blur(20px);
  bottom: 0;
}

.simg{
  width: 70px;
  height: 40px;
}

input[type=range]{
  height: 2px;
}

.drawer{
  width: 100%;
  background: #0a1014;
  position: fixed;
  z-index: 10000;
  height: 100%;
  transition: 1s;
}

.crs:hover{
  background-color: #ffc107;
  color:black;
}

.crs{
  background: rgb(33,37,41);
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: #ffc107;
}

.modal-inner-content{
  width: 50%;
  background: #0a1014;
}

.ct{
font-size: .8rem;
text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.eimgw{
  width:60%;
}

.error-width {
  width: 50%;
}

@media(max-width: 991.98px){


}


@media(max-width: 767.98px){

	

}


@media(max-width: 575.98px){

  .ccimg{
    width: 60%;
  }

  .wrup{
    width: 90%;
  }

  .modal-inner-content{
    width: 100%;
  }

  .error-width {
    width: 100%;
  }
	
}